<?php
/**
 * @var $block Lachestry\OfflineStores\Block\OfflineStore\OfflineStoresList
 * @var $childBlock  Lachestry\OfflineStores\Block\OfflineStore\OfflineStoreItem
**/
$childBlock = $block->getChildHtml('lachestry.offlinestore.list.item');
?>
<?= __('offline stores');?>
<br>
<?php /** @var $offlineStore \Lachestry\OfflineStores\Model\OfflineStore */ ?>
<?php foreach ($block->getOfflineStores() as $offlineStore): ?>
   <strong><?= $offlineStore->getMetaTitle(); ?></strong>
<br>
   <img width="50"  alt="<?= __('media_image') ?>" src="<?= $block->getMediaImage($offlineStore->getImage()) ?>">
<br>
<?php endforeach; ?>

