<?php
/**
 * @var $block Lachestry\OfflineStores\Block\OfflineStore\OfflineStoresList
 **/

$offlineStore = $block->getOfflineStore();
?>

<p>Id:</p>
<?= $offlineStore->getId() ?>
<br>
<p>Название:</p>
<?= $offlineStore->getTitle() ?>
<br>
<img alt="<?= __('media_image') ?>" src="<?= $block->getMediaImage($offlineStore->getImage()) ?>">
<br>
<p>Количество сотрудников:</p>
<?= $offlineStore->getEmployeeQty(); ?>