<?php
/**
 * @var $block \Magento\Framework\View\Element\Template
 */
$data = ['i', 'o', 'p', 't', 'o', 'u', '1', '2'];
$block->setData('test', $data);
$isVisible = true;
?>
<?= __('test1') ?>
<br>

<?php if ($isVisible) : ?>
   <?php foreach ($block->getData('test') as $symbol) : ?>
    <?php if ($symbol === 'p') : ?>
        <?php continue; ?>
    <?php elseif ($symbol === 'u') : ?>
        <?php break; ?>
    <?php else: ?>
    <?= $symbol ?>
<?php endif; ?>
    <?php endforeach; ?>
<?php endif; ?>

<br>
<?= $block->escapeHtml('<div>new Line</div>') ?>
<br>
<?= $block->escapeJs("console.log('new line')") ?>
<br>
<?= $block->escapeXssInUrl($block->getUrl()); ?>
