.active-offlinestores-entity, .active-offlinestores-entity td{
    background-color: LightGreen !important;
}

.inactive-offlinestores-entity, .inactive-offlinestores-entity td{
    background-color: Pink !important;
}

.active-offlinestores-entity, .inactive-offlinestores-entity {
    border-radius: 5px;
    display: block;
    font-weight: bold;
    line-height: 17px;
    padding: 0 3px;
    text-align: center;
    text-transform: uppercase;
}
.active-offlinestores-entity {
    border: 1px solid Green;
    color: Green;
}

.inactive-offlinestores-entity {
    border: 1px solid Red;
    color: Red;
}


.image-40 img{
    width: 40px !important;
    height: 40px !important;
}